

.box1{
    height: 75px;
    width: 700px;
    background-color: rgb(252, 205, 227);
    border-radius: 40px;
    margin: 0 auto;
}

#text1{
   font-size: 45px;
   text-align: center; 
   margin: 0 auto;
}

.box{
    background-color: rgb(130, 220, 249);
    height: 45px;
    width: 200px;
    margin: 0 auto;
    border-radius: 40px;
}

#text{
  font-size: 35px;
  text-align: center;
  margin: 0 auto;
}

.box2{
    height: 75px;
    width: 820px;
    background-color: rgb(177, 233, 249);
    border-radius: 40px;
    margin: 0 auto;
}

#text2{
 font-size: 30px;
 text-align: center;
 margin:0 auto;
}

.box3{
    height: 45px;
    width: 500px;
    margin: 0 auto;
    border-radius: 40px;
    background-color: rgb(217, 140, 249);
    padding: 5px 10px;
}

#text3{
 font-size: 30px;
 margin: 0 auto;
 text-align: center; 
}

.box4{
    height:165px;
    width: 910px;
    margin: 0 auto;
    background-color: rgb(217, 175, 247);
    border-radius: 40px;
}

#text4{
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}
