

.welcome-box{
    height: auto;
    width: 600px;
    background-color: rgb(255, 160, 217);
    border-radius: 35px;
    margin: 5 auto;
}

#welcome-text{
   font-size: 40px;
   text-align: center; 
   margin: 5 auto;
}

.introduction{
    background-color: rgb(252, 190, 227);
    height:auto;
    width:700px;
    text-align: center;
    border-radius:40px;
    margin: 0 auto;

}

#introduction-text{
 font-size:20px;
 text-align: center;
}

.abt{
    background-color: rgb(130, 220, 249);
    height: 45px;
    width: 200px;
    margin: 5 auto;
    border-radius: 40px;
    box-sizing: border-box;
}

#abt-title{
  font-size: 30px;
  text-align: center;
  margin: 5 auto;
}

.abt-box{
    height:auto;
    width: 820px;
    background-color: rgb(177, 233, 249);
    border-radius: 40px;
    margin: 5 auto;
    padding: 8px 12px;
    box-sizing: border-box;
}

#abt-text{
 font-size: 20px;
 text-align: center;
}

.progress{
    height: 35px;
    width: 500px;
    margin: 5 auto;
    border-radius: 40px;
    background-color: rgb(180, 139, 238);
    box-sizing: border-box;
}

#progress-title{
 font-size: 30px;
 margin: 5 auto;
 text-align: center; 
}

.progress-box{
    height: auto;
    width: 820px;
    margin: 5 auto;
    background-color: rgb(199, 164, 255);
    border-radius: 40px;
    padding: 8px 12px;
    box-sizing: border-box;

}

#progress-text{
    font-size: 20px;
    margin: 5 auto;
    text-align: center;
}
