.box1{
    height: 100px;
    width: 200px;
    background-color: rgb(0, 200, 245);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#text1{
   font-size: 15px;
   text-align: center; 
   margin: 0 auto;
}

.text{
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.box2{
    height: 100px;
    width: 600px;
    background-color: rgb(0, 150, 245);
    border-radius: 40px;
}

#text2{
 font-size: 30px;
 text-align: center;
 margin:0 auto;
}